.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

/card-imgs/**/*.png

application-nocommit.yml
scripts-local/
*.dump

/src/main/resources/static/
/ui/src/generated-src
/src/main/resources/application-generated.yml
/ui/src/config/ClientVersion.ts
/docker/*.jar

version.txt
/docker/Dockerrun.aws.json
