{
  "AWSEBDockerrunVersion": "1",
  "Image": {
    "Name": "811687120814.dkr.ecr.us-west-2.amazonaws.com/decks-of-keyforge:$version"
  },
  "Ports": [
    {
      "ContainerPort": 5000,
      "HostPort": 5000
    }
  ]
}
